*.bak
*.dll
*.pyc
.*.swp
*.*~*
denemecoin-qt
denemecoin-qt.exe
src/denemecoind
src/denemecoind.exe

# Stuff created by the Qt build system.
qrc_bitcoin.cpp
build
debug
release
/Makefile
*.Debug
*.Release
